
.alert-banner{
    display: flex;
    background-color: #00d100;
    color: #fff;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1.3em;
    height: 50px;
    margin-left: 1em;
    margin-top: 1em;
}