
.alert-banner{
    background-color: #00d100;
    color: #fff;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1.3em;
    height: 50px;
    margin-left: 1em;
    margin-top: 1em;
}

.alert-banner p{
    margin-bottom: 0;
}

.alert-banner-close{
    margin-top: -1.2em;
    padding-left: 100%;
    cursor: pointer;
}