//Images
img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bell{
    width: 30px;
    padding-right: .18em;
    transition: transform .1s ease;
    cursor: pointer;
}

.dot{
    position: relative;
    top: -18px;
    right: 16px;
    padding: 2px;
    border-radius: 50%;
    background: lime;
    width: 7px;
    height: 7px;
    display: inline-block;
}

.bell:hover{
    transform: scale(.96);

}

.icon-nav {
    height: 25px;
    width: 25px;
    padding-bottom: .1em;
}



svg{
    width: 50px;
    padding: .5em;
    background-color: #9e7b9e;
    border-radius: 50%;
    margin-right: .5em;
    margin-top: .3em;
}

.profile-image{
    border-radius: 50%;
}

.main-image{
    display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: .5em 1em;
}