//Images
img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bell{
    width: 30px;
    border-right: 1px solid #c2c0c0;
    padding-right: .18em;
    margin-right: .25em;
    transition: border-right .5s ease-out;
    cursor: pointer;
    
}

.bell:hover{
    border-right: 2px solid lime;

}

.icon-nav {
    height: 25px;
    width: 25px;
    padding-bottom: .1em;
}



svg{
    width: 50px;
    padding: .5em;
    background-color: #9e7b9e;
    border-radius: 50%;
    margin-right: .5em;
    margin-top: .3em;
}

.profile-image{
    border-radius: 50%;
}

.main-image{
    display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: .5em 1em;
}