*{
    box-sizing: border-box;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    color: #e7e6e6;
    background-color: #9285b8;
}

.main-logo{
    justify-self: flex-start;
    flex-grow: 1;
}

.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeebeb;
    padding-right: .5em;  
    height: 65px;  
}


a{
    text-decoration: none;
    color: #9285b8;
    transition: border-bottom .5s ease-out;

    :hover{
        cursor: pointer;
        border-bottom: 1px solid lime;
    }
}


h3{
    padding-left: .7em;
    padding-right: .5em;
    margin-bottom: 1.75em;
}

.traffic-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.widget-container-full{
    padding-bottom: 1.25em;
    width: calc(100vw -55px);

}

.traffic-nav{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: auto;
    margin-right: 1%;
    justify-content: flex-end;
 }

.traffic-nav li{
    font-size: 1em;
    color: #948f8f;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.traffic-nav li:hover{
    color: #fff;
    background-color: #00d100;
    cursor: pointer;
}

.widget-container-full{
    display: flex;
}

.mobile-users{
    padding-bottom: 1em;
}

.navigation {
    grid-area: navigation;
    display: flex;
    justify-content: space-around;
    background-color: #53447c;
}

.main {
    grid-area: main;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.social-container{
    justify-content: space-evenly;

    .social-box{
        display: flex;
        flex-grow: 1;
	    background-color: #fbfbfb;
        border: 1px solid #d1d1d1;
        border-radius: 1%;
	    color: #7377bf;
	    justify-content: center;
        margin: 1em;
        padding: .75em;

        .social-text p{
            margin: 0;
        }
        
        .social-text p:nth-child(2) {
            font-size: 2em;

        }
    }

}

.members,
.recent-activity,
.message,
.settings
 {
    padding: 1em;
}

.members-container,
.activity-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: .75em;

    p{
        margin-top: 0;
    }

}

.members-text{
    margin-left: 8%;
    margin-right: auto;

    p{
        margin-bottom: 0;
        margin-top: 0;
        justify-content: flex-end;
        margin-right: 1em;
    }

    :nth-child(2){
        font-size: smaller;
    }


}



@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .navigation{
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

    }

    .traffic-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: .1%;
    }

    .icon-nav{
        margin-top: 1em;
    }

    .alert-banner-close{
        padding-left: 0;
        margin-top: 0;
    }

    .social-container{
        display: flex;
    }


    .main{
        display: flex;
        flex-direction: column;
    }

    .traffic-chart{
        display: flex;
        width: calc(100vw- 55px);
    }

    .stats{
        padding-bottom: 3em;
        border-top: $borderStyle;
        width: 100%;
    }
    
    .side-by-side{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .widget-container-full{
        width: calc(100vw - 55px);
    }

    .widget-container-half{
        width: calc((100vw - 55px) / 2)
    }

    .daily,
    .mobile-users {
        flex-direction: row;
        width: 30%;
        flex-wrap: nowrap;
        flex-grow: 1;
        padding-bottom: 4em;
        border-top: $borderStyle;
    }

    .daily{
        border-right: $borderStyle;
    }

    .members,
    .recent-activity{
        flex-grow: 1;
        width: 35%;
        border-top: $borderStyle;
    }

    .members{
        border-right: $borderStyle;
    }

    .bottom{
        display: flex;
        justify-content: space-evenly;
        border-top: $borderStyle;
    }

    .message, 
    .settings {
        width: 35%;
        flex-grow: 1;
        padding-left: 1.5em;
        padding-bottom: 2em;
    }

    .message {
        border-right: $borderStyle;
    }



}
      