*{
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    color: #e7e6e6;
    background-color: #9285b8;
}

.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeebeb;
    padding-right: .5em;  
    height: 65px;  
}

h3{
    padding-left: .7em;
    padding-right: .5em;
}


.traffic-nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 1.25em;
    list-style-type: none;
}
.traffic-nav li {
    font-size: 1em;
    color: #fff;
    background-color: #00d100;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.widget-container-full{
    display: flex;
}


.navigation {
    grid-area: navigation;
    background-color: #53447c;
    display: flex;
    justify-content: space-around;
    padding: .25em;
}

.main {
    grid-area: main;
}

@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .navigation{
        display: block;
        padding-left: 1em;
        padding-right: auto;
        padding-top: .75em;
        padding-bottom: .75em;
    }

    .icon-nav{
        margin-bottom: 1.5em;
    }

    .main{
        grid-template-columns: 50%;
        display: flex;
        flex-direction: column;
    }

    .main-user{
        margin-right: auto;
        margin-left:auto;

    }

    .bell{
        margin-left: 20em;
    }



}
      